* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: #f5f5f5;
}

#root {
  width: 100%;
}

.section {
  padding: 60px 0;
}

.section:nth-child(even) {
  background-color: #ffffff;
}

.section:nth-child(odd) {
  background-color: #f5f5f5;
}
